/*******************************
CSS COMMUN


/* Styles généraux */
/* Conteneur principal */
#Logo {
    display: inline-block;
    text-decoration: none;
    position: fixed; /* Fixe l'élément sur l'écran */
    top: 20px;       /* Ajuste la position verticale */
    left: 20px;      /* Ajuste la position horizontale */
    z-index: 1000;   /* Place le logo au-dessus des autres éléments */
}

/* Style pour la boîte contenant le texte */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #1e90ff, #ff1493);
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Texte à l'intérieur du logo */
.logo .line {
    color: white;
    font-family: "Bad Script", cursive;
    font-size: 1rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Effet au survol */
#Logo:hover .logo {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}













body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1f4037, #99f2c8);
    color: #fff;
    text-align: center;
    overflow-x: hidden;
}

.header-title h1 {
    font-size: 3rem;
    margin: 20px 0;
}

.header-title h2 {
    font-size: 2rem;
    margin: 10px 0;
}

#welcome-section {
    padding: 50px 0;
}

/* Styles généraux du bouton */
.animate-btn {
    background: rgba(255, 87, 51, 0.3); /* Fond transparent */
    color: #fff; 
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: transform 0.6s ease, box-shadow 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    perspective: 1000px; /* Pour l'effet 3D */
    opacity: 0.7; /* Opacité initiale */
}

/* Effet de rotation, opacité et survol */
.animate-btn:hover {
    transform: rotateY(180deg); /* Rotation sur l'axe Y */
    background-color: rgba(255, 87, 51, 0.5); /* Fond légèrement plus opaque */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Ombre portée */
    opacity: 1; /* Devenir totalement opaque au survol */
}

/* Optionnel : un effet lorsque le bouton est en focus */
.animate-btn:focus {
    outline: none;
    box-shadow: 0px 0px 15px rgba(255, 87, 51, 0.7);
}

.animate-subtitle {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 0.5s;
}

.animate-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
    animation-delay: 1s;
}

.animate-heading {
    font-size: 2.5rem;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 1.5s ease forwards;
    animation-delay: 1.2s;
}

/* Keyframes */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

*******************************/

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    line-height: 1.6;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background: rgb(124, 40, 99);
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    padding: 8px 15px;
    text-decoration: none;
}

.btn:hover {
    background: rgba(124, 40, 99, .7);
}

/*******************************
CSS HEADER
*******************************/
header {
    background-image: linear-gradient(to top right, rgba(124, 40, 99, 0.4) 20%, rgba(0, 0, 0, 0.4)), url('../images/imagewelcom2.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20px 30px 10px;
}

header .menu {
    align-items: center;
    justify-content: space-between;
}

header .menu img {
    max-width: 50px;
    width: auto;
}

header .menu input {
    visibility: hidden;
}

header .menu nav {
    align-items: center;
}

header .menu nav a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

header h1,
header h2 {
    text-align: center;
}

header .header-title {
    padding: 100px 0 200px;
}

header h1 {
    font-size: 8rem;
    font-style: italic;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 20px;
}

header h1 span {
    color: red;
}

header h2 {
    font-size: 2rem;
    font-weight: 700;
}
/* Appliquer la police Poppins et ajouter un style moderne */
.custom-title {
    font-family: 'Poppins', sans-serif;  /* Utilisation de la police Google Fonts */
    font-weight: 600;  /* Poids de la police pour donner un aspect plus moderne */
    font-size: 2.5rem;  /* Taille du texte */
    letter-spacing: 1px;  /* Espacement entre les lettres pour plus de lisibilité */
    color: #333;  /* Couleur sombre et élégante */
    text-transform: uppercase;  /* Mettre le texte en majuscules pour un effet impactant */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);  /* Ombre légère pour un effet de profondeur */
    padding-top: 30px;  /* Un peu d'espace au-dessus pour aérer */
    margin-bottom: 30px;  /* Espacement en bas pour séparer du contenu suivant */
}

/* Optionnel: Ajouter une animation d'apparition pour un effet dynamique */
.custom-title {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*******************************
CSS MAIN
*******************************/

/*------------------mobile about-me-section-----------------*/
#about-m-section {
  min-height: 100vh;
}

#about-m-section .container {
  display: grid;
  grid-template-columns: 1fr;
}

#about-m-section .card {
  border: 0.5px solid black;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  margin: 0px 10px;
}

#about-m-section .img-div {
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
}

#about-m-section img 


/* Section: About Me */
#about-me-section {
    min-height: 100vh;
}

#about-me-section .card {
    border: .5px solid black;
    box-shadow: 0px 0px 10px #666;
    border-radius: 10px;
    margin: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-me-section .img-div {
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}

#about-me-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    padding-right: 10px;
}

/* Section: Réalisations */
article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/imagewelcom2.jpg') no-repeat center center / cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.img-div {
    width: 100%;
    margin-bottom: 20px;
}

.img-div img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

ul li {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
    padding-left: 25px;
    position: relative;
}

ul li::before {
    content: "•";
    color: #007BFF;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    article {
        padding: 15px;
    }

    h3 {
        font-size: 1.5rem;
    }

    ul li {
        font-size: 0.9rem;
    }
}

/* Section: Map */
#map iframe {
    border: 0;
    display: block;
    height: 450px;
    width: 100%;
}

/*******************************
CSS CONTACT
*******************************/
#contact-section {
    background: linear-gradient(45deg, #4B4975, #d4d4d4 70%, #E6B331);
}

.sumbit {
    margin-top: -40px;
}

/*******************************
CSS EXPÉRIENCES PROFESSIONNELLES
*******************************/
#projet {
    background: linear-gradient(to right, #f4f4f4, #fff);
    padding: 50px 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projet h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#liste {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

#liste article {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
}

#liste article:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#liste article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

#liste article h3 {
    font-size: 1.8rem;
    color: #007BFF;
    margin-bottom: 10px;
    font-weight: bold;
}

#liste article ul,
#liste article p {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
    color: #555;
    font-size: 1.5rem;
}

#liste article ul li {
    margin-bottom: 8px;
    position: relative;
    line-height: 1.5;
}

#liste article ul li::before {
    content: "✔";
    color: #28a745;
    position: absolute;
    left: 0;
    top: 0;
}

 .map-div {
  padding: 20px;
  height: 60vh;
}

 .map-div iframe {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  color: white;
  padding: 1.1rem;
}
